[submodule "section-2-3-4-5-6"]
	path = section-2-3-4-5-6
	url = https://github.com/didaktio/section-2-3-4-5-6.git
	branch = master
	update = rebase
[submodule "the-todo-app"]
	path = the-todo-app
	url = https://github.com/didaktio/the-todo-app.git
	branch = master
	update = rebase
[submodule "kubernetes-app"]
	path = kubernetes-app
	url = https://github.com/didaktio/kubernetes-app.git
	branch = master
	update = rebase
[submodule "basics"]
	path = basics
	url = https://github.com/didaktio/iac-basics.git
	branch = master
	update = rebase
[submodule "directives"]
	path = directives
	url = https://github.com/didaktio/iac-directives.git
	branch = master
	update = rebase
[submodule "reminder-app"]
	path = reminder-app
	url = https://github.com/didaktio/iac-reminders.git
	branch = master
	update = rebase
